In [88]:
# importando as bibliotecas necessárias
import cv2
import pytesseract
import pandas as pd

# Definindo o caminho para o executável do Tesseract OCR
caminho = r"C:\Program Files\Tesseract-OCR"
pytesseract.pytesseract.tesseract_cmd = caminho + r"\tesseract.exe"

# Lendo a imagem
imagem = cv2.imread("rrd_ipoa2.png")

# Verificando se a imagem foi carregada com sucesso
if imagem is not None:
    # Extraindo o texto da imagem
    texto = pytesseract.image_to_string(imagem)
    
    # Dividindo o texto em linhas
    linhas = texto.split('\n')
    
    # Criando uma lista para armazenar os dados da tabela
    dados = []
    
    # Processando cada linha e dividir em colunas
    for linha in linhas:
        colunas = linha.split()
        if len(colunas) >= 4:  # Certificando de que há pelo menos 4 colunas de dados
            dados.append(colunas)
    
    # Convertendo a lista de dados em um DataFrame pandas
    df = pd.DataFrame(dados, columns=["Year", "Conservative", "Total_yearly_area", "Total_cumulative_area", "Column5", "Column6", "Column7"])

In [89]:
# Para apagar as colunas 5, 6 e 7 (índices 4, 5 e 6) de forma inplace
df.drop(columns=["Column5", "Column6", "Column7"], inplace=True)
df.head()

     Year  Conservative Total_yearly_area Total_cumulative_area
0    Year  Conservative             Total                yearly
1    2022          7195               195                   795
2    2023          24.4              24.4                  43.9
3    2024           244              24.4                  68.3
4    2025          24.3               243                  92.6
5    2026          24.3               243                 116.9
6    2027          24.2               242                 141.1
7    2028          24.2               242                 165.3
8    2029          24.4              24.4                 189.4
9   2030,          24.0              24.0                 213.4
10   2031          24.0              24.0                 237.4
11   2032          23.9              23.9                261.3,
12  2033,          23.9              23.9                 285.2
13   2034          23.8              23.8                 309.0
14  2035,           237              23.7                 332.7
15   2036           237               237                 356.4
16   2037          23.6               236                 380.0
17   2036           236              23.6                 403.6
18  2039)          23.5              23.5                 427.4
19   2040          23.5              23.5                 450.6
20   2041          23.4              23.4                 474.0
21   2082          23.3             23.3,                 497.3
22   2043          23.3              23.3                 520.6
23   2044          23.2              23.2                 543.8
24   2045          23.2              23.2                ‘567.0
25  2046,          32.1              32.1                 599.2
26   2047          32.1              32.1                 631.2
27  2048,          23.0              23.0                 654.2
28  2049)          22.9              22.9                 677.4
29   2050          22.9              22.9                 699.9
30   2051           228              22.8                 722.7
31   2052          22.8               2.8                 745.5

In [90]:
# Remove a primeira linha com strings
df = df.drop(0)

In [91]:
# Remove vírgulas à direita na coluna "Total_cumulative_area"
df["Total_cumulative_area"] = df["Total_cumulative_area"].str.rstrip(',')

In [92]:
# Remove o caractere ‘ (aspas curvas) da coluna "Total_cumulative_area" e converte para float
df["Total_cumulative_area"] = df["Total_cumulative_area"].str.replace('‘', '').astype(float)

In [93]:
df

     Year Conservative Total_yearly_area  Total_cumulative_area
1    2022         7195               195                  795.0
2    2023         24.4              24.4                   43.9
3    2024          244              24.4                   68.3
4    2025         24.3               243                   92.6
5    2026         24.3               243                  116.9
6    2027         24.2               242                  141.1
7    2028         24.2               242                  165.3
8    2029         24.4              24.4                  189.4
9   2030,         24.0              24.0                  213.4
10   2031         24.0              24.0                  237.4
11   2032         23.9              23.9                  261.3
12  2033,         23.9              23.9                  285.2
13   2034         23.8              23.8                  309.0
14  2035,          237              23.7                  332.7
15   2036          237               237                  356.4
16   2037         23.6               236                  380.0
17   2036          236              23.6                  403.6
18  2039)         23.5              23.5                  427.4
19   2040         23.5              23.5                  450.6
20   2041         23.4              23.4                  474.0
21   2082         23.3             23.3,                  497.3
22   2043         23.3              23.3                  520.6
23   2044         23.2              23.2                  543.8
24   2045         23.2              23.2                  567.0
25  2046,         32.1              32.1                  599.2
26   2047         32.1              32.1                  631.2
27  2048,         23.0              23.0                  654.2
28  2049)         22.9              22.9                  677.4
29   2050         22.9              22.9                  699.9
30   2051          228              22.8                  722.7
31   2052         22.8               2.8                  745.5